.menu li #ajuste1{
  display: inline-block;
  text-indent: -500em;
  height: 5em;
  width: 5em;
  line-height: 5em;
  text-align:center;
 background: rgba(255,255,255,0.3) black;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05) ;
  transition: background 0.1s ease-in-out;
    margin-bottom: -8;
} 

.menu li #ajuste1:before {
  font-family: FontAwesome;
  speak: none;
  text-indent: 0em;

  color: #283161;
  left: 0;
  width: 100%;
  height: 100%;
 
  font-size: 1.8em;
}

.menu-bar li #ajuste1:hover,
.menu li #ajuste1:hover,
.menu li:first-child #ajuste1 {
  background: #267fdd;
  color: #fff;
}